.element {
    background-color: linear-gradient(to rigth, #2d8cd9 70%, #000000 30%) !important
}

.container-banner {
    height: 100%;
    width: auto;
    overflow: hidden;
    border: 1px solid black;
    position: relative;
}


.container-banner img {
    width: 100%;
    display: block;
    z-index: 0;
    object-fit: cover;


}



.overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 04, 0.5);
    z-index: 1;
    position: absolute;
}
@media (min-width: 768px) {
    .container-banner {
        height: 550px;
        /* Altura para desktop */
    }
}

@media (max-width: 767px) {
    .container-banner {
        height: 500px;
        /* Altura nos celulares */
    }
        .container-banner img {
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
}
.overlay-form-container {
    position: absolute;
    top: 50%;
    left: 80%;
    transform: translate(-50%, -50%);
    z-index: 3;
    
}

.overlay-form-container .custom-container {
    
    background-color: #0a090983;
    color: white;
    margin-left: 5%;
    border-radius: 8px;
    height: 320px;
   width: auto;

}
.overlay-form-container .form-group {
    margin-bottom: 25px;
    
    
}
.overlay-form-container img {
    margin-left: 2%;
    
}
.overlay-form-container .container h2 {
    font-size: 25px;
    white-space: nowrap;
    font-style: oblique;
}

.overlay-form-container .btn-primary {
    background-color: #2d8cd9;
    border-color: #000000;
    color: #fff;
    border-radius: 8px;
 
}
 

@media screen and (max-width: 768px) {
    .overlay-form-container {
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: small;
    }
}

.custom-img {
    width: 100%;
    max-width: 200px;
    height: auto;
    margin: 0 auto;
    
}

@media (max-width: 768px) {
    .custom-img {
        max-width: 150px;
        
    }
}


@media (max-width: 576px) {
    .custom-img {
        max-width:90px;
        
    }
}

.info-text h2 {

    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 52px;
}

#conhecaAgecor {
    margin-top: -48px;
    z-index: 3;
    position: relative;
    border-radius: 5px;
    height: 90px;
    background-color: #e4dfdffe !important;

}

#conhecaAgecor h2 {
    color: #2d8cd9;
        font-size: 3rem;
        /* Utilizando a unidade rem para um tamanho de fonte relativo */
        font-family: 'Cambria', sans-serif;
        /* Adicionando uma fonte de fallback caso 'Cambria' não esteja disponível */
        font-weight: bold;
        width: 100%;
        text-align: center;
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
}
/* Adicionando uma regra de estilo para telas menores (por exemplo, tablets) */
@media (max-width: 768px) {
    #conhecaAgecor h2 {
        font-size: 2rem;
        /* Reduzindo o tamanho da fonte para telas menores */
    }
}

/* Adicionando uma regra de estilo para telas muito pequenas (por exemplo, smartphones) */
@media (max-width: 576px) {
    #conhecaAgecor h2 {
        font-size: 1.5rem;
        /* Reduzindo ainda mais o tamanho da fonte para telas muito pequenas */
    }
}

#textAgecor h2 {

    color: #000000;
    font-size: 36px;
    font-family: 'Cambria';
    text-align: center;
    margin: 0;
}
@media (max-width: 768px) {
    #textAgecor h2 {
        font-size: 9.5rem;

    }
}


@media (max-width: 576px) {
    #textAgecor h2 {
        font-size: 1.25rem;

    }
}

.circle-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 25px;
}

.circle {
    width: 90px;
    height: 90px;
    background-color: #2d8cd9;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle img {
    max-width: 100%;
    max-height: 100%;
    width: 40px;
}

.text-container {
    text-align: center;
}

.container .row {
    display: flex;
    justify-content: space-around;
}

.button-Whatsapp2 {
    text-align: center;
    margin-top: 25px;
}

.text-container .lead {
    color: black;
    font-size: bold;
}

@media screen and (max-width:768px) {}

-->

.container-info {
    position: absolute;
    margin-bottom: 50%;
    /* Ajuste conforme necessário para posicionar verticalmente */
    right: 750px;

    /* Ajuste conforme necessário para posicionar horizontalmente */
    z-index: 4;
    text-align: center;
    /*border: solid black;*/
    height: 350px;
    width: 450px;
    color: #fff;
}
.container-info h2{
    font-size: 32px;
}

.image-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    
}

.image-container img {
    height: 45px;
    width: 45px;
    margin-right: 10px;
    
}

 #textAgecor {
     padding: 20px;
     /* Adicione algum espaço para melhorar o visual */
 }
 .fab.fa-whatsapp {
     color: green;
 }

